#root{
  width: min-content;
  margin: 0;
  display: flex;
}

.page {
  text-align: center;
  padding: 20px;
  display: flex;
  
}

.App-logo {
 width: 200px;
 height: auto;
 display: flex;
}

.SignandLog{
  display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: flex-start;
    width: min-content;
}

.Icon {
 color: #7ed957 !important;
 width: 500px;
 margin: 10px;
 cursor: pointer;

}

.Nav{
  display: flex;
  width: 265px;
  height:100% !important ;
  box-shadow: rgb(0 0 0 / 10%) -1px -1px 3px inset, rgb(255 255 255 / 70%) 1px 1px 3px inset;
} 

.ItemGroup{
  display: flex;
  align-items: center;
  margin: 0;
  width: 225px;

}
.ItemGroup:hover{
  background-color: #e3e1e1;
}

.p{
  font-family: sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin: 0;
    margin-left: 10px;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.btn{   
  color: white !important;
  background-color: #7ed957 !important;
  text-align: center;
  margin: 1!;
  margin: 1%;
  font-weight: bold;
  /* border: none; */
  border-radius: 5%;
  border-style: none;
  padding: 1%;
}

.alertModal{
  align-items: center !important;
  display: flex;
  flex-direction: column !important;
}
.css-vqmohf-MuiButtonBase-root-MuiRadio-root.Mui-checked {
  color:#7ed957 !important
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
